<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Beschreibung %>
    <%= form.text_field :Beschreibung, id: :list_Beschreibung %>
  </div>

  <div class="field">
    <%= form.label :verantwortlich %>
    <%= form.text_field :verantwortlich, id: :list_verantwortlich %>
  </div>

  <div class="field">
    <% form.label :erledigt %>
    <%= form.check_box :erledigt, id: :list_erledigt %> erledigt
  </div>

  <div class="actions">
    <%= form.submit "Speichern" %>
  </div>
<% end %>
