
<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <tr class="table-success">
  	<td>
      <div class="form-group">
        <% form.label :Beschreibung %>
        <%= form.text_field :Beschreibung, id: :list_Beschreibung, class:"form-control" %>
      </div>
   	</td>
  	<td>
      <div class="form-group">
        <% form.label :verantwortlich %>
        <%= form.text_field :verantwortlich, id: :list_verantwortlich, class:"form-control" %>
      </div>
    </td>
    <td></td>
  	<td>
      <div class="actions">
        <%= form.submit "hinzufügen", class: "btn btn-secondary btn-sm" %>
    </td>
  </tr>
<% end %>
